# Default ignored files
/../../ekstrapalkka.c /.idea/shelf/
/../../ekstrapalkka.c /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ekstrapalkka.c /.idea/httpRequests/
# Datasource local storage ignored files
/../../ekstrapalkka.c /.idea/dataSources/
/../../ekstrapalkka.c /.idea/dataSources.local.xml
